@keyframes apparition {
    0%{
        transform: translateY(-20px);
        height: 0px;
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        height: 100%;
        opacity: 1;
    }
}
@keyframes apparition-carousel {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes listSkills {
    0%{
        opacity: 0;
        transform: scale(0.9) translateY(50px);
    }
    50%{
        opacity: 1;
        transform: scale(1.02) translateY(-15px);
    }
    100%{
        opacity: 0.8;
        transform: scale(1) translateY(0);
    }
}