@font-face {
    font-family: 'Akira Expanded';
    src: url('./Akira.otf');
}
header{
    & h1,p{
        font-family: 'Akira Expanded','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    & p{
        color: #0d6efd;
    }
}