section{
    background-color: #f2f2f2;
}
#list-skills{/*boutons liste compétences*/
    & a{
        @include border-radius;
    }
}
#carousel-inner{
    max-height: 1032px;
    overflow-y:auto;
}
#html-css{
    display: none;
}
#message-alert{
    display: flex;
}
#img-default{
    display: none;
}