section{
    background-color: #f2f2f2;
}
#list-skills{/*boutons liste compétences*/
    & a{
        @include border-radius;
    }
}
#inner-omf,#inner-reservia,#inner-bootstrap,#inner-mysql{
    @include height-carousel;
}
#html-css,#sass,#bootstrap5{
    display: none;
}
#message-alert{
    display: flex;
    & .alert-warning{
        @include border-radius($radius:20px);
    }
}
#img-default{
    display: flex;
}